.nexus-tweaks-settingtable { width: 100%; }
.nexus-tweaks-settingrow { background-color: #dddddd; }
.nexus-tweaks-settingname { width: 20px; }
.nexus-tweaks-settinglist { width: 90px; }
.nexus-tweaks-settingspan { background-color: #bbbbbb; border: 1px dotted black; }
